<!DOCTYPE html>
<html>


<head>
<style>

table, th, td {
  color: whitesmoke;
  border: 1px transparent;
  border-collapse: collapse;
  text-align: center;
}
th, td {
  padding: 5px;
  text-align: center;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
body {
  background-image: url('./images/pexels-sebastiaan-stam-1097456.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
a:link {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}
</style>
</head>



<body>


<table style="width:10%;color: whitesmoke;">
<tr>
  <th><a href= "" style="text-align:center;"> home </a></th>
  <th><a href="products" style="text-align:center;"> products </a></th>
  <th><a href="api" style="text-align:center;"> API </a></th>
</tr>
</table>



<h1 style="font-family:courier;text-align:center;color: whitesmoke;">Welcome to SY's site</h1>
<h2 style="font-family:courier;text-align:center;color: whitesmoke;">Demo site</h2>

<pre style="color: whitesmoke;size: 30;">
  Welcom, 
  small brief about the website:
    1)built with node.js, express, mongoDB, HTML, javascrips
    2) running on google cloud host 
    3) on product page you shall find the product list 
    4) on api page you shall find guidence to add new product through url request 

    thank you 

    *small gratitude inside the source page 
</pre>
  
  <pre>
    


    






















  </pre>
  <p style="font-family:courier;color: whitesmoke;text-align: center;"><b> please do not crush this site</b></p>


</body>
</html>


